body {
  color: #D81159;
  background-color: #A3D8FF;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.seriouswriting {
  text-align: justify;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  width: 600px;
  display: inline-block;
}
a {
  color: #8F2D56;
  background-color: #FFBC42;
  text-decoration: none;
}

a:hover {
  color: #FFBC42;
  background-color: #8F2D56;
}

#roma {
  font-size: 1.5em;
}

h1,
h2 {
  font-size: 3em;
  font-family: "Arial Black", Gadget, sans-serif;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  background-color: #FFBC42;
  color: #0496FF;
}

.projects {
  width: 560px;
  height: 315px;
}

.rowimg {
  font-size: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.schdesc {
  font-size: 0.8em;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
}

.schfuture,
.schpast {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

#calendar {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

#about {
  font-size: 1.5em;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  width: 600px;
}

#copyright {
  margin-top: 50px;
}
.right {font-size: 17px; width: 750px; text-align: right; margin-left: auto; margin-right: auto;
}
