* {font-family: Optima, Calibri, 'Segoe UI', Candara, Calibri, sans-serif;}
table { font-size: 14px }
a:link { color: #4040d0 ; text-decoration: none }
a:active { color: #4040d0 ; text-decoration: none }
a:visited { color: #4040d0; text-decoration: none }
a:hover { color: white; background: #4040d0 ; }
#main  {position: absolute; width: 100%; margin-top: 10px; margin-left: 20px}
#header {position: absolute; top: 0px; left: 0px; width: 100%; }
#profile {position: absolute; top: 0px; right: 10px; }
#flickr {position: absolute; top: 250px; right: 0px; }
#namej  {font-size:24px; position: absolute; top: 9px; left: 0px; font-weight:bold; line-height: 1.2;}
#namej2 {font-size:24px; position: absolute; top: 75px; left: 0px; font-weight:bold; line-height: 1.2;}
#hira {font-size:8px; position: absolute; top: 2px; font-weight:bold; line-height: 1.5;}
#hira2 {font-size:8px; position: absolute; top: 36px; font-weight:bold; line-height: 1.5;}
#roma {font-family: 'Times New Roman'; font-size:64px; position: absolute; top: 0px; left: 40px; font-weight:bold;}

#content {position: absolute; top: 5px; width: 100%; padding-bottom: 50px;  }
li {font-size: 20px; margin-bottom:80px; margin-top:50px; list-style-type: none }
#loc {font-size: 14px}
h2 {clear: left; font-size: 32px }
h3 {clear: left; font-size: 28px }
p {font-size: 17px; width: 750px}
img { border: 0px #c0c0c0 solid; }
.imhere { color: #202020 }
.imnothere { color: #e0e0e0 }
body {color: #000; background-color: #fdfdfd}
.f {float: left; width: 560px; margin: 5px 5px 5px 5px}
.row { width: 100%; display: table}
blockquote {
    padding: 0 15px;
    color: #555;
    border-left: 4px solid #ddd;
    width: 700px;
}
