body {
  color: black;
  background-color: white;
  border: 0px;
  padding: 0px;
  margin: 0px;
/*   font-weight: bold; */
  font-family: "Arial", Gadget, sans-serif;
}

.caption {
/*   text-align: center; */
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  width: 600px;
  display: inline-block;
  line-height: 1.5em;
}

.seriouswriting {
  text-align: justify;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  width: 600px;
  display: inline-block;
  line-height: 1.5em;
}

a {
  color: blue;
/*   color: #8F2D56;
  background-color: #FFBC42; */
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: black;
}

#roma {
  font-size: 1.5em;
}

h1,
h2 {
  font-size: 3em;
  font-family: "Arial", Gadget, sans-serif;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
}

.projects {
  width: 560px;
  height: 315px;
}

.rowimg {
  font-size: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.schdesc {
  font-size: 0.8em;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
}

.schfuture,
.schpast {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

#calendar {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

#about {
  font-size: 1.5em;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  width: 600px;
}

.f2 {
  width: 200px;
  margin: 0
}

.row2 {
  width:600px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  /* Safari 8 */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  /* Safari 8 */
  justify-content: center;
  -webkit-justify-content: center;
  /* Safari 8 */
}


#copyright {
  margin-top: 50px;
}

.right {
  font-size: 17px;
  width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}