/* @font-face {
  font-family: "Sinistre StCaroline";
  src: url("https://cdn.glitches.me/Sinistre-StCaroline.woff2") format("woff2"),
    url("https://cdn.glitches.me/Sinistre-StCaroline.woff") format("woff");
} */

@font-face {
  font-family: "ApfelGrotezk Regular";
  src: url("https://cdn.glitches.me/ApfelGrotezk-Regular.woff2") format("woff2"),
    url("https://cdn.glitches.me/ApfelGrotezk-Regular.woff") format("woff");
}

html,
body {
  /* font-family: "ApfelGrotezk Regular", arial, sans-serif; */
  font-weight: 400;
  margin: 0;
  padding: 0;
}
